<div class="columns">
  <aside class="column is-one-quarter-desktop">
    <p class="menu-label">Subject</p>
    <ul class="menu-list">
      <li>
        <%= link_to 'All', root_path,
          class: "#{'is-active' if @subject.nil?}"  %>
      </li>
      <%= render @subjects %>
    </ul>
  </aside>
  <main class='column is-three-quarters-tablet'>
    <%= render 'toolbar' %>
    <div id="courses"><%= render @courses %></div>
    <%= will_paginate @courses, renderer: BulmaPagination::Rails %>
  </main>
</div>
