<div class="card is-fullwidth my-3 pt-2">
  <div class="card-content pt-3 pb-4">
    <div class="level">
      <div class="level-left">
        <h3 class="title is-size-4 has-text-weight-normal">
          <%= link_to course.title, course %>
        </h3>
      </div>
      <div class="level-right">
        <p class="is-pulled-right is-help tag is-info is-light"><%= course.created_at.strftime('%H:%M, %d %b %Y') %></p>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <p class='mt-1'>
          <%= link_to course.subject.title, 
              subject_courses_path(course.subject.slug) %>.
          Instructor: <%= link_to course.owner.full_name, '#' %>
        </p>
      </div>
      <div class="level-right">
        <% if is_dashboard_page? %>
          <% if policy(course).manage? %>
            <% if course.is_draft? %>
              <span class="tag is-light is-danger mr-3"><%= course.status %></span>
            <% else %>
              <span class="tag is-success is-light mr-3"><%= course.status %></span>
            <% end %>
            <%= link_to 'Edit', edit_course_path(course) %>
            <%= link_to 'Delete', course_path(course), method: :delete, data: {confirm: 'Are you sure?'}, class: 'ml-3' %>
          <% end %>
        <% end %>
        <% if is_home_page? %>
          <%= course_price(course) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
