<%= form_for @course do |f| %>
  <%= render 'devise/shared/error_messages', resource: @course %>
  <div class="field">
    <%= f.label :title, class: 'label' %>
    <%= f.text_field :title, class: 'input is-large' %>
  </div>
  <div class="field">
    <%= f.label :overview, class: 'label' %>
    <%= f.text_area :overview, class: 'textarea' %>
  </div>
  <div class="field">
    <%= f.label :subject, class: 'label' %>
    <div class="select is-medium">
      <%= f.collection_select :subject_id, Subject.order(:title), :id, :title %>
    </div>
  </div>
  <div class="field">
    <%= f.submit class: 'button is-primary' %>
  </div>
<% end %>
